AUTH_SERVICE_URL=http://localhost:3001
STUDENT_APP_URL=http://localhost:3100
TEACHER_APP_URL=http://localhost:3110
ADMIN_APP_URL=http://localhost:3111
STUDENT_APP_SESSION_COOKIE_NAME=cumbre_student_session
TEACHER_APP_SESSION_COOKIE_NAME=cumbre_teacher_session
ADMIN_APP_SESSION_COOKIE_NAME=cumbre_admin_session
STUDENT_APP_SESSION_COOKIE_DOMAIN=
TEACHER_APP_SESSION_COOKIE_DOMAIN=
ADMIN_APP_SESSION_COOKIE_DOMAIN=
STUDENT_APP_SESSION_SECRET=cumbre-student-dev-session-secret
TEACHER_APP_SESSION_SECRET=cumbre-teacher-dev-session-secret
ADMIN_APP_SESSION_SECRET=cumbre-admin-dev-session-secret
